@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #2c1b18, #3e2723, #5d2e2a, #8e3b36);
  color: #d4c4b7;
  font-family: "Karla", sans-serif;
}

#logo,
#sections {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

#logo.scrolled {
  transform: translateX(-30vw);
}

#sections.scrolled {
  transform: translateX(30vw);
}

.line1,
.line2,
.line3 {
  width: 32px;
  height: 4px;
  margin: 5px 8px;
  background-color: #d4c4b7;
  transition: 0.2s;
}

.active .line1 {
  transform: translate(0px, 9px) rotate(45deg);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  transform: translate(0px, -9px) rotate(-45deg);
}

[data-aos="md-fade-up"] {
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;

  &.aos-animate {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);

  @media screen and (max-width: 768px) {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}

[data-aos="md-fade-down"] {
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;

  &.aos-animate {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  -webkit-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);

  @media screen and (max-width: 768px) {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

[data-aos="md-slide-up"] {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  /* visibility: hidden; */

  &.aos-animate {
    visibility: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);

  @media screen and (max-width: 768px) {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
